label {
    margin-top: 25px;
}

#result {
    margin-top: 20px;
    width: 250px;
}

button {
    margin-right: 15px;
    margin-top: 10px;
}

#operations {
    margin-top: 35px;
    width: 150px;
}
